skeleton-text-item {
  display: block;
  position: relative;
  background-color: #dcdcdc;
  height: 10px;
  width: 100%;
  overflow: hidden;
  margin: 10px 0;
  max-width: var(--placeholder-width);
}

skeleton-text-item::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .6), transparent);
  animation: loading 1.5s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}