wl-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: none;
  overflow: hidden;
  outline: 0;
  transition: opacity .15s linear;
}

wl-modal.hide {
  opacity: 0;
}

wl-modal.show {
  opacity: 1;
  display: block;;
}

wl-modal .modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .3rem;
  outline: 0;
  padding: 45px 30px;
  right: 0;
  left: 0;
  max-width: 80%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

wl-modal .modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: 0;
  border: 0;
  font-size: 2rem;
}

wl-modal .modal-close-button:hover {
  color: var(--primaryColour);
  cursor: pointer;
}
