login-page {
  display: flex;
  height: 100vh;
}


.login-page-forms {
  flex: 1 1 50%;
  max-width: 50%;
}

.login-page-img {
  flex: 1 1 50%;
  max-width: 50%;
}

.login-page-img img {
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  height: 100%;
  display: block;
}