.cta {
  display: flex;
  background: none;
  border: 2px solid transparent;
  cursor: pointer;
  align-items: center;
}

.cta a {
  width: 100%;
}

.cta__external-inner {
  display: flex;
}

.cta--primary {
  color: #fff;
  padding: 7px 12px;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  font-size: 16px;
}

.cta--primary svg {
  flex: 0 0 14px;
  margin-right: 12px;
}

.cta--primary.cta--theme-primary {
  background: var(--primaryColour);
}

.cta--primary.cta--theme-orange {
  background: var(--accentOrange);
}

.cta--primary.cta--theme-teal {
  background: var(--accentTeal);
}

.cta--primary.cta--theme-primary:hover {
  background: none;
  border-color: var(--primaryColour);
  color: var(--primaryColour);
}

.cta--primary.cta--theme-orange:hover {
  background: none;
  border-color: var(--accentOrange);
  color: var(--accentOrange);
}

.cta--primary.cta--theme-teal:hover {
  background: none;
  border-color: var(--accentTeal);
  color: var(--accentTeal);
}
