@import './reset.css';

/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

:root {
  --primaryColour: #3ed69e;
  --secondaryColour: #110B11;
  --accentTeal: #15616D;
  --accentOrange: #FF7D00;
  --accentLightGrey: #9C92A3;
  --accentError: #C0392B;
  --textColour: var(--secondaryColour);
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1.4rem;
  color: var(--textColour);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.modal-open {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #000;
  opacity: .5;
}

/* TODO: Create new component for this kind of styling */
.button {
  background: var(--primaryColour);
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 1.4rem;
  border: 2px solid transparent;
}

.button:hover {
  cursor: pointer;
  border: 2px solid var(--primaryColour);
  background: transparent;
  color: var(--primaryColour);
}