header {
  background: white;
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 0 15px;
  justify-content: space-between;
}

header h1 {
  font-size: 2rem;
  font-weight: 500;
}
