.workout-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 20px;
}

.workout-list a {
  text-decoration: none;
}

.workout-item {
  box-shadow:
    0 15px 30px 0 rgba(0, 0, 0, .1),
    0 5px 15px 0 rgba(0, 0, 0, .1);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .1);
  background: var(--primaryColour);
  color: #fff;
  text-decoration: none;
}

.workout-name {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
