.custom-input {
  display: flex;
  flex-direction: column;
  margin: 35px 0;
  position: relative;
  max-width: 350px;
  width: 100%;
}

.custom-input__input--text,
.custom-input__input--number,
.custom-input__input--password {
  padding: 10px 10px 10px 0;
  font-size: 18px;
  border: 0;
  border-bottom: 1px solid var(--accentLightGrey);
}

.custom-input__bar {
  position: relative;
  width: 100%;
  display: block;
}

.custom-input__bar::before {
  content: '';
  height: 2px;
  position: absolute;
  top: -1px;
  left: 0;
  width: 0;
  transition: all 300ms ease-in-out;
  background: var(--primaryColour);
}

.custom-input__input--text:focus,
.custom-input__input--number:focus,
.custom-input__input--password:focus {
  outline: none;
}

.custom-input__input--text:focus ~ .custom-input__bar::before,
.custom-input__input--number:focus ~ .custom-input__bar::before,
.custom-input__input--password:focus ~ .custom-input__bar::before {
  width: 100%;
}

.custom-input__input--text:focus ~ label,
.custom-input__input--number:focus ~ label,
.custom-input__input--password:focus ~ label,
.custom-input__input--text.custom-input__input--hasValue ~ label,
.custom-input__input--number.custom-input__input--hasValue ~ label,
.custom-input__input--password.custom-input__input--hasValue ~ label {
  top: -4px;
  font-size: 12px;
  color: var(--primaryColour);
}

.custom-input__label--text,
.custom-input__label--number,
.custom-input__label--password {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--secondaryColour);
  transition: all 350ms ease-in-out;
}

/* non-text shared styling */

.custom-input__input--radio,
.custom-input__input--checkbox {
  position: absolute;
  opacity: 0;
}

.custom-input__input--radio:focus-visible + .custom-input__label--radio .custom-input__label-text,
.custom-input__input--checkbox:focus-visible + .custom-input__label--checkbox .custom-input__label-text {
  outline: var(--accentTeal) auto 1px;
  outline-offset: 2px;
}

.custom-input__label--radio,
.custom-input__label--checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-input__radio:hover .custom-input__radio-outer,
.custom-input__label--radio:hover .custom-input__radio-outer
.custom-input__checkbox:hover .custom-input__checkbox-outer,
.custom-input__label--checkbox:hover .custom-input__checkbox-outer {
  border-color: var(--primaryColour);
}

/* Radio */

.custom-input__radio {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-right: 8px;
}

.custom-input__radio-outer {
  box-sizing: border-box;
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  transition: border-color ease 280ms;
  width: 20px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}

.custom-input__radio-inner {
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform ease 280ms,background-color ease 280ms;
  width: 20px;
  transform: scale(0.001);
}

.custom-input__input--radio:checked + .custom-input__label--radio .custom-input__radio-outer {
  border-color: var(--primaryColour);
}

.custom-input__input--radio:checked + .custom-input__label--radio .custom-input__radio-inner {
  opacity: 1;
  background-color: var(--primaryColour);
  transform: scale(.5);
}

/* checkbox */

.custom-input__checkbox {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-right: 8px;
}

.custom-input__checkbox-outer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  transition: border-color ease 280ms;
  width: 20px;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
}

.custom-input__tick-icon {
  display: none;
  width: 12px;
  height: 12px;
}

.custom-input__tick {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
  fill: transparent;
  stroke: #fff;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.custom-input__input--checkbox:checked + .custom-input__label--checkbox .custom-input__checkbox-outer {
  border-color: var(--primaryColour);
  background-color: var(--primaryColour);
}

.custom-input__input--checkbox:checked + .custom-input__label--checkbox .custom-input__tick-icon {
  display: block;
}