add-workout {
  display: block;
}

.add-workout-button {
  width: 100%;
  height: 150px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  margin: 20px 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.2px;
  font-weight: 600;
  color: #ccc;
}

.add-workout-button:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 8px 0px #ccc;
}