app-message {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 20px;
  right: -300px;
  left: auto;
  display: flex;
  padding: 5px 10px;
  width: fit-content;
  box-shadow: 0 2px 6px 1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
  transition: all 500ms ease-in-out;
  align-items: center;
}

app-message.active {
  right: 20px;
  opacity: 1;
  visibility: visible;
}

app-message.success {
  background: #2ECC71;
  color: #fff;
}

app-message.warning {
  background: #F1C40F;
  color: #fff;
}

app-message.error {
  background: #C0392B;
  color: #fff;
}

app-message .toast-message-text {
  padding: 0 10px;
}